h1 {
    background-color: ghostwhite;
    color: navy;
    text-align: center;
}

.load {
    background-color: ghostwhite;
    color: navy;
    font-size: 100px;
    text-align: center;
}

.table {
    background-color: ghostwhite;
    color: navy;
    width: 1000px;
    height: 300px;

    position: sticky;
    overflow-y: scroll;

    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: center;
}



.amount {
    width: 300px;
    text-align: end;
}

.total {
    text-align: end;
}

.total2 {

    height: 10px;
    text-align: justify;
    font-size: 20px;
}