<section>

    <article style="height: 600px;">
        <div style="margin-left: 10%;">

            <h2 style="margin-left: 10%; color: navy; font-size: 30px; background-color: ghostwhite;">Gestion</h2>
            <details>
                <summary></summary>
                <nav class="menu" style="background-color: ghostwhite;">

                    <a routerLink="/home" routerLinkActive="active">
                        <b>Accueil</b>
                    </a>
                    <a href="#link">Profils</a>
                    <a routerLink="/customer" routerLinkActive="active">
                        <b>
                            Clients
                        </b>
                    </a>
                    <a routerLink="/supplier" routerLinkActive="active">
                        <b>
                            Fournisseurs
                        </b>
                    </a>
                    <a routerLink="/account" routerLinkActive="active">
                        <b>

                            Comptes
                        </b>
                    </a>
                    <a href="#link">About</a>
                </nav>
            </details>
        </div>

    </article>

</section>