<div *ngIf="loading" style="color: navy; font-size: 100px;">
    ...loading
</div>

<div *ngif="!loading">
    <h3>Détails fournisseur</h3>
    <div>
        <span>nom : </span>
        <h5>{{supplier.supplierName | uppercase}}</h5>
    </div>
    <div>
        <table>
            <thead>
                <th>#</th>
                <th>N° BCE</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Mail</th>
                <th>Coordonnées bancaires</th>
                <th></th>
            </thead>
            <tbody>
                <td>{{supplier.id}}</td>
                <td>{{supplier.bceNumber}}</td>
                <td>{{supplier.supplierName}}</td>
                <td>{{supplier.streetName}} {{supplier.streetNumber}} / {{supplier.streetBoxNumber}} -
                    {{supplier.postalCode}} {{supplier.city}}</td>
                <td>{{supplier.phone}}</td>
                <td>{{supplier.email}}</td>
                <td>{{supplier.bankDetailIBAN}}</td>
                <td>{{supplier.bankDetailBIC}}</td>
            </tbody>
        </table>
    </div>
</div>