<p>invoices works!</p>
<button class="btn btn-primary" routerLink="/account/invoice-create" routerLinkActive="active">Nouvelle facture</button>

<!-- <table mat-table>
    <ng-container matColumnDef="supplier">
        <th mat-header-cell> Fournisseur </th>
        <td>{{invoice.supplier}}</td>
    </ng-container>
    <ng-container matColumnDef>
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let invoice"> {{ invoice.amountInclVat| currency:'EUR':'symbol-narrow' }} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['supplier', 'total']"></tr>
    <tr mat-row *matRowDef="let supplier; columns: ['supplier', 'total']"></tr>
</table> -->