main {
    background-image: url(/assets/SYNDIC-2021-10-20-FraisChargeVendeur-SITE.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}